.Character {
  display: flex;
  padding-bottom: 100px;
}

.character-photo {
  width: 400px;
  border-radius: 50%;
}

.character-texts {
  padding-left: 30px;
}
h2{
font-size: 30px;
  color: white;
  -webkit-text-stroke: 0.2px black;
  margin:0;
  text-shadow: 4px 4px 14px white;
}
h1{
  font-size: 50px;
}
.character-Name{
  color: #00B0C8;
    -webkit-text-stroke: 0.2px black;
      text-shadow: 4px 4px 14px white;
}