.characterTitle {
  padding-top: 100px;
  font-size: 70px;
  color: #03adca;
  -webkit-text-stroke: 0.2px black;
  margin:0;
    text-shadow: 4px 4px 16px white;
}

.title-text {
  background-color: #94c82d;
  margin-bottom: -40px;
}

.info-container {
  padding-top: 80px;
  display: grid;
  grid-template-columns: 800px 800px;
  grid-row: auto auto;
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  text-align: left;
  justify-content: center;
}
.backgroundPage{
  background-image: linear-gradient(#94C82D,#00B0C8, #94C82D);
}
.nextPage,.previousPage{
  font-size: 30px;
  padding-right: 30px;
  color: black;
}
.nextPage:hover,
.previousPage:hover {
color: white;
}
.pagesContainer{
  padding-bottom: 50px;
}